@font-face {
    font-family: "opendyslexic";
    src: url("fonts/OpenDyslexic-Regular.woff") format('woff');
}

@font-face {
    font-family: "opendyslexic";
    src: url("fonts/OpenDyslexic-Bold.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "opendyslexic";
    src: url("fonts/OpenDyslexic-Bold-Italic.woff") format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "opendyslexic";
    src: url("fonts/OpenDyslexic-Italic.woff") format('woff');
    font-style: italic;
}

body { width: 230px; }
h1 { color: black; padding: 15px; font-family: opendyslexic; }

#blueBTN{
  background-color: #a6ccff;
  color: black;
  padding: 35px 10px;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
#creamBTN{
  background-color: #fcfcec;
  color: black;
  padding: 35px 10px;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
#blackBTN{
  background-color: #1c1c1c;
  color: white;
  padding: 35px 10px;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
#whiteBTN{
  background-color: white;
  color: black;
  padding: 35px 10px;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
